<!doctype html>
<html>
    <% include ./partials/head %>
    <body>
        <% include ./partials/header %>


            <div class="row">
                <div class="col-md-10 initial">
                  <h1>Your threads</h1>
                    <div class="well">
                      <% for(var i=0; i<threads.length; i++) {%>

                      <tr><td><label><a href="/thread?threadId=<%= threads[i]._id %>"><%= threads[i].title %></a></label></td></tr><br>
                      <% } %>
                    </div>

                </div>

            </div>



    </body>
</html>
